a:link {

}

a:visited {

}

a:hover {

}

a:active {

}

body {

}

h1 {

}

h2 {

}

h3 {
    
}

h4 {
    
}

h5 {
    
}

h6 {
    
}

p {
    
}

li {

}

ul {

}

* {

}

/*above are html tags, below are custom classes*/

.nodeDesc {
    display: flex;
    flex-direction: row;
    border-style: solid;
    justify-content: space-evenly;
}